.body {
    max-width: 1400px;
    height: 3843px;
    top: -2123px;
    left: 298px;
}

.nav {
    max-width: 1400px;   
    height: 78px;
    top: 78px;
    display: flex;    
    margin-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    align-items: center;
    justify-content: space-around
} 

.nav-content {
    width: 350px;
    height: 28px;    
    display: flex;    
    align-items: center;
    justify-content: center;
    position: relative;
    left: 150px;
}    
p.nav-text {    
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;    
    font-family: 'Poppins', sans-serif;  
    word-spacing: 10px;
    display: flex;
 }   
.btn-one {
    width: 102px;
    height: 46px;
    border: 1px;
    display: flex;
    margin: 3px;
    border: 1px solid #BCD0E5; 
    align-items: center;
    justify-content: center;
    position: relative;
    left: 90px;

}
.btn-two {
    width: 102px;
    height: 46px;
    border: 1px;
    margin: 3px 20px 3px 3px;
    display: flex;
    border: 1px solid #BCD0E5;
    background-color: #FF9900;    
    align-items: center;
    justify-content: center;   
    
}
.btn-text {    
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;    
    display: flex;
    font-family: 'Poppins', sans-serif; 
}
.btn-text--up {
    color: white;
}

.header {
    width: 1126px;
    height: 496px;
    Top: 128px;
    Left: 145px;
    display: flex;
}
.feature {    
    width: 2211px;
    height: 543px;    
    top: 734px;
    left: -406px;
    display: flex;
}
.main-one {
    width: 1110px;
    height: 574px;
    top: 1397px;
    left: 145px;
    display: flex;    
}
.main-two {
    width: 1121px;
    height: 521px;
    top: 2072px;
    left: 144px;
    display: flex;
}
.main-three {
    width: 1110px;
    height: 609px;
    top: 2697px;
    left: 147px;
    display: flex;
}
.footer {
    width: 1109px;
    height: 308px;
    top: 3452px;
    left: 160px;
    display: flex;
}
.img-one {
    margin-left: 20px;
    display: flex;    
}
.img-two {
    position: relative;
    top: 2px;
    right: 90px;
}