.body {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;    
}
.nav {
    max-width: 100%;   
    height: 78px;
    display: flex;    
    margin-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    align-items: center;
    justify-content: space-around
} 
.nav-content {
    width: 350px;
    height: 28px;    
    display: flex;    
    align-items: center;
    justify-content: center;
    position: relative;
    left: 150px;
}    
p.nav-text {    
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;    
    font-family: 'Poppins', sans-serif;  
    word-spacing: 10px;
    display: flex;
 }   
.btn-one {
    width: 102px;
    height: 46px;
    border: 1px;
    display: flex;
    margin: 3px;
    border: 1px solid #BCD0E5; 
    align-items: center;
    justify-content: center;
    position: relative;
    left: 90px;
}
.btn-two {
    width: 102px;
    height: 46px;
    border: 1px;
    margin: 3px 20px 3px 3px;
    display: flex;
    border: 1px solid #BCD0E5;
    background-color: #FF9900;    
    align-items: center;
    justify-content: center;     
}
.btn-text {    
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;    
    display: flex;
    font-family: 'Poppins', sans-serif; 
}
.btn-text--up {
    color: white;
}
.header {
    width: 1110px;
    height: 496px;
    margin: 20px;
    display: flex;
    position: relative;
    top: 100px;
    left: 55px;
    flex-direction: row;      
}
.header__half-one {
    width: 562px;
    height: 496;
    display: flex;
    flex-direction: column;
}
.header__half-two {
    width: 562px;
    height: 496;
    display: flex;
}
.header__title-box {
    width: 518px;
    height: 108px;    
    display: flex;
    position: relative;
    align-items: center;    
    top: 60px;
}
.header__content {
    width: 458px;
    height: 95px;    
    display: flex;
    position: relative;
    align-items: center;
    top: 90px;
}
p.header-content {
    font-family: 'Poppins', sans-serif; 
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
}
.header__btn {
    width: 175px;
    height: 53px;
    background-color: #FF9900;    
    display: flex;
    position: relative;
    top: 160px 
}
.header__btn-box {
    width: 93px;
    height: 24px;
    display: flex;
    position: relative;
    align-self: center;
    align-items: center;
    left: 36px;   
}
p.header__btn-text {
    font-family: 'Poppins', sans-serif; 
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}
.header-img {
    height: 21px;
    width:18px;
    display: flex;
    position: relative;
    left: 200px;
    top: 125px;
}
.header-vid {
    width: 135px;
    height: 24px;
    display: flex;
    position: relative;
    align-items: center;
    left: 230px;
    top: 100px;   
}
p.vid-text {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}
.feature {    
    width: 1110px;
    height: 543px;
    margin: 20px;    
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    top: 140px;
    left: 55px;   
}
.feature__title-card {
    width: 539px;
    height: 108px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    position: relative;
    align-items: center;
}
.feature__content-card {
    width: 1095px;
    height: 204px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    position: relative;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
}
.icon-box {
    width: 40px;
    height: 40px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
img.purple {
    position: relative;
    display: flex;    
}
img.arrow {
    position: absolute;
    display: flex;
}
img.yellow {
    position: relative;
    display: flex;    
}
img.doodle {
    position: absolute;
    display: flex;
}
img.red {
    position: relative;
    display: flex;    
}
img.heart {
    position: absolute;
    display: flex;
}
img.blue {
    position: relative;
    display: flex;    
}
img.hourglass {
    position: absolute;
    display: flex;
}
.feature__info {
    width: 180px;
    height: 200px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;     
}
.feature__btn {
    width: 175px;
    height: 53px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #FF9900;
}
.feature__btn-text {
    font-family: 'Poppins' sans-serif; 
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;  
}
.main-one {
    width: 1110px;
    height: 574px;
    margin: 20px;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    top: 180px; 
    left: 55px;   
}
.main__card-left {
    width: 486px;
    height: 531px;
    margin-top: 20px;    
    display: flex;
    position: relative;
    flex-direction: column;
}
.main__card-right {
    width: 486px;
    height: 531px;
    margin-top: 20px;    
    display: flex;    
    position: relative;
    right: 40px;
    border: 1px solid black;
}
.main__box-one {
    width: 186px;
    height: 24px;
    display: flex;
    position: relative;
    align-items: center;
}
.main__title-box {
    width: 385px;
    height: 54px;
    display: flex;
    position: relative;
    align-items: center;
}
.main__box-two {
    width: 486px;
    height: 78px;    
    display: flex;
    position: relative;
    align-items: center;
}
.main-two {
    width: 1110px;
    height: 521px;
    margin: 20px;
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    top: 210px;
    left: 55px;
}
.main-two__card-right {
    width: 486px;
    height: 427px;
    margin-top: 20px;    
    display: flex;
    position: relative;
    flex-direction: column; 
}
.main-two__card-left {
    width: 486px;
    height: 427px;
    margin-top: 20px;    
    display: flex;
    position: relative;
    
}
.main-two__box-one {
    width: 212px;
    height: 24px;
    display: flex;
    position: relative;
    align-items: center;
}
.main-two__title-box {
    width: 342px;
    height: 54px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    position: relative;
    align-items: center;
}
.main-two__box-two {
    width: 486px;
    height: 78px;
    margin-top: 10px;
    margin-bottom: 10px;    
    display: flex;
    position: relative;
    align-items: center;
}
.main-two__dot-box {
    width: 486px;
    height: 52px;    
    display: flex;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}
.main-three {
    width: 1110px;
    height: 609px;
    margin: 20px;
    display: flex;
    position: relative;
    align-items: center;    
    top: 240px;
    left: 55px;    
}
.main-three__card-left {
    width: 486px;
    height: 531px;
    margin-top: 20px;    
    display: flex;
    position: relative;
    flex-direction: column;    
}
.main-three__box-one {    
    width: 131px;
    height: 24px;
    margin-bottom: 5px;
    display: flex;
    position: relative;
    align-items: center;    
} 
.main-three__title-box {
    width: 190px;
    height: 54px;
    margin-top: 5px;
    margin-bottom: 5px;    
    display: flex;
    position: relative;
    align-items: center;
}
.main-three__box-two {
    width: 486px;
    height: 78px;
    margin-top: 5px;
    margin-bottom: 5px;    
    display: flex;
    position: relative;
    align-items: center;    
}
.main-three__box-three {    
    width: 153px;
    height: 26px;
    margin-top: 5px;
    margin-bottom: 5px;    
    display: flex;
    position: relative;
    align-items: center;    
} 
.main-three__box-four {
    width: 486px;
    height: 52px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    position: relative;
    align-items: center;    
} 
.main-three__box-five {    
    width: 211px;
    height: 26px;
    margin-top: 5px;
    margin-bottom: 5px;    
    display: flex;
    position: relative;
    align-items: center;    
} 
.footer {
    width: 1110px;
    height: 308px;
    margin: 20px;
    padding-bottom: 20px;
    display: flex;
    position: relative;
    flex-direction: row;
    top: 270px;
    left: 55px;    
}
.footer__card {
    width: 273px;
    height: 308px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;    
}
.bitmap-box {
    width: 25;
    height: 23;
    display:flex;
    position: relative;
    bottom: 200px;
}
.productly-box {
    width: 100;
    height: 23;
    display:flex;
    position: relative;
    left: 33px;
    bottom: 220px;
}
.check-box {
    width: 280px;
    height: 40px;
    border: 1px solid #BCD0E5;
    display: flex;
}
.footer-btn {
    width: 131px;
    height: 39px;
    margin-top: 20px;
    background-color: #FF9900;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-one {
    margin-left: 20px;
    display: flex;    
}
.img-two {
    position: relative;
    top: 2px;
    right: 90px;
}
h1 {
    font-family: 'Poppins' sans-serif;
    font-size: 44px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0px;
    text-align: left;

}
h2 {
    font-family: 'Poppins' sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0px;
    text-align: left;
}
h3 {
    font-family: 'Poppins' sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}
h4 {    
    font-family: 'Poppins' sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0px;
    text-align: left;
}
p {
    font-family: 'Poppins' sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}
p.small {
    font-family: 'Poppins' sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: 0px;
    text-align: left;
}
img.dot {
    width: 40;
    height: 40;
    margin-right: 20px;
}
img.oval {
    transform: scale(0.8);
    position: relative;
}
img.dance {   
    transform: scale(0.8); 
    position: absolute; 
}
img.design {
    transform: scale(0.8);
    
}