.body {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    
    
    
}

.nav {
    max-width: 100%;   
    height: 78px;
    display: flex;    
    margin-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    align-items: center;
    justify-content: space-around
} 

.nav-content {
    width: 350px;
    height: 28px;    
    display: flex;    
    align-items: center;
    justify-content: center;
    position: relative;
    left: 150px;
}    
p.nav-text {    
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;    
    font-family: 'Poppins', sans-serif;  
    word-spacing: 10px;
    display: flex;
 }   
.btn-one {
    width: 102px;
    height: 46px;
    border: 1px;
    display: flex;
    margin: 3px;
    border: 1px solid #BCD0E5; 
    align-items: center;
    justify-content: center;
    position: relative;
    left: 90px;

}
.btn-two {
    width: 102px;
    height: 46px;
    border: 1px;
    margin: 3px 20px 3px 3px;
    display: flex;
    border: 1px solid #BCD0E5;
    background-color: #FF9900;    
    align-items: center;
    justify-content: center;   
    
}
.btn-text {    
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;    
    display: flex;
    font-family: 'Poppins', sans-serif; 
}
.btn-text--up {
    color: white;
}

.header {
    width: 1110px;
    height: 496px;
    margin: 20px;
    display: flex;
    position: relative;
    top: 100px;
    border: 1px solid red;    
}
.header__half {
    width: 562px;
    height: 496;
    display: flex;
    border: 1px solid blue;
}

.feature {    
    width: 1110px;
    height: 543px;
    margin: 20px;    
    display: flex;
    border: 1px solid magenta;
}
.feature__title {
    width: 539px;
    height: 108px;
    display: flex;
    border: 1px solid red;

}
.main-one {
    width: 1110px;
    height: 574px;
    margin: 20px;
    display: flex; 
    border: 1px solid black;   
}
.main-two {
    width: 1110px;
    height: 521px;
    margin: 20px;
    display: flex;
    border: 1px solid pink;
}
.main-three {
    width: 1110px;
    height: 609px;
    margin: 20px;
    display: flex;
    border: 1px solid green;
}
.footer {
    width: 1110px;
    height: 308px;
    margin: 20px;
    display: flex;
    border: 2px solid purple;
}
.img-one {
    margin-left: 20px;
    display: flex;    
}
.img-two {
    position: relative;
    top: 2px;
    right: 90px;
}